<!doctype html>
<html>
    <head>
        <title>SANE Webscan</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <script src="https://pro.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-eAVkiER0fL/ySiqS7dXu8TLpoR8d9KRzIYtG0Tz7pi24qgQIIupp0fn2XA1H90fP" crossorigin="anonymous"></script>
    </head>
    <body>
        <main>
            <section class="controls">
                <section class="devices">
                    <v-select :options="scanners" :searchable="false" :taggable="false" :filterable="false" v-model="options.scanner"></v-select>
                </section>
                <section class="settings">
                    <section class="option">
                        <label><i class="fa fa-expand-arrows"></i> Resolution:</label>
                        <v-range :value.sync="options.resolution" tooltip="hover" tooltip-dir="bottom"></v-range>
                    </section>
                    <section class="option">
                        <label><i class="fa fa-sun"></i> Brightness:</label>
                        <v-range :value.sync="options.brightness" tooltip="hover" tooltip-dir="bottom"></v-range>
                    </section>
                    <section class="option">
                        <label><i class="fa fa-adjust"></i> Contrast:</label>
                        <v-range :value.sync="options.contrast" tooltip="hover" tooltip-dir="bottom"></v-range>
                    </section>
                    <section class="option">
                        <label><i class="far fa-palette"></i> Color:</label>
                        <label for="color">
                            <i class="fa fa-fill-drip"></i>
                        </label>
                        <input type="checkbox" class="toggle" v-model="options.color" id="color"><label for="color"></label>
                        <label for="color">
                            <svg class="svg-inline--fa fa-palette fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="palette" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><defs><linearGradient id="g" gradientTransform="rotate(5)"><stop style="stop-color: #F230C7" offset="0%"/><stop style="stop-color: #25C9A6" offset="100%"/></linearGradient></defs><path fill="url(#g)" d="M204.3 5C104.9 24.4 24.8 104.3 5.2 203.4c-37 187 131.7 326.4 258.8 306.7 41.2-6.4 61.4-54.6 42.5-91.7-23.1-45.4 9.9-98.4 60.9-98.4h79.7c35.8 0 64.8-29.6 64.9-65.3C511.5 97.1 368.1-26.9 204.3 5zM96 320c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm32-128c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128-64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128 64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z"></path></svg>
                        </label>
                    </section>
                    <section class="option">
                        <label><i class="fa fa-file-export"></i> Format:</label>
                        <input type="radio" class="toggle" v-model="options.filetype" name="filetype" id="filetype-pdf" value="pdf"><label for="filetype-pdf"><i class="fa fa-file-pdf"></i><span>PDF</span></label>
                        <input type="radio" class="toggle" v-model="options.filetype" name="filetype" id="filetype-jpeg" value="jpeg"><label for="filetype-jpeg"><i class="fa fa-camera"></i><span>JPEG</span></label>
                        <input type="radio" class="toggle" v-model="options.filetype" name="filetype" id="filetype-png" value="png"><label for="filetype-png"><i class="fa fa-image"></i><span>PNG</span></label>
                        <input type="radio" class="toggle" v-model="options.filetype" name="filetype" id="filetype-tiff" value="tiff"><label for="filetype-tiff"><i class="fa fa-file-invoice"></i><span>TIFF</span></label>
                    </section>
                    <section class="option" :style="{visibility: (options.filetype == 'pdf' || options.filetype == 'jpeg') ? 'visible' : 'hidden'}">
                        <label><i class="fa fa-percentage"></i> JPEG Quality:</label>
                        <v-range :value.sync="options.quality" tooltip="hover" tooltip-dir="bottom"></v-range>
                    </section>
                </section>
                <section class="actions">
                    <button><i class="fa fa-search"></i> Quick Preview</button>
                    <button class="primary"><i class="fa fa-file-signature"></i> Scan Page</button>
                </section>
                <section class="files" v-show="pages.length > 0">
                    <div class="file">
                        <span><img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimgv2-1-f.scribdassets.com%2Fimg%2Fdocument%2F112295035%2Foriginal%2Fc0deca1a1f%2F1464801830&f=1"></span>
                        <input type="text" value="Page 1">
                        <span><i class="fa fa-times"></i></span>
                    </div>
                </section>
                <section class="actions" v-show="pages.length > 0">
                    <button class="primary"><i class="fa fa-download"></i> Download</button>
                </section>
            </section>
            <section class="preview">
                <div class="crop">
                    <img ref="preview">
                    <div class="top" style="height: 30px;"></div>
                    <div class="left" style="width: 20px;"></div>
                    <div class="selection" style="height: 200px; width: 300px;">
                        <div data-direction="top-left"></div>
                        <div data-direction="top"></div>
                        <div data-direction="top-right"></div>
                        <div data-direction="left"></div>
                        <div data-direction="right"></div>
                        <div data-direction="bottom-left"></div>
                        <div data-direction="bottom"></div>
                        <div data-direction="bottom-right"></div>
                    </div>
                    <div class="right"></div>
                    <div class="bottom"></div>
                </div>
            </section>
        </main>
        <script src="https://unpkg.com/vue@latest"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <script>window.exports={}</script>
        <script src="https://unpkg.com/vue-slider-component@latest"></script>
        <script>window.VueRange=window.exports["vue-slider-component"];delete window.exports;</script>
        <script src="script.js"></script>
    </body>
</html>
